Theory **Questions**

1. What are data structures, and why are they important?
   - Data structures are ways of storing and organizing data (like lists, stacks, queues, trees). They are important because they make data handling efficient (fast searching, sorting, and managing memory).

2. Explain the difference between mutable and immutable data types with examples.
    - Mutable vs Immutable data types

     Mutable  can be changed (e.g., list, dict, set).
     Immutable cannot be changed (e.g., str, tuple).
     Example: my_list = [1,2,3]; my_list[0] = 100 (allowed) my_tuple = (1,2,3); my_tuple[0] = 100 (error).

3. What are the main differences between lists and tuples in Python ?
   - The main differnce between lists and tuples in Python are:-
     List = mutable, slower, uses. Whereas
     Tuple = immutable, faster, uses ().

4. Describe how dictionaries store data .
    - They store data as key-value pairs using a hash table internally.

5. Why might you use a set instead of a list in python?
    - We might use a set instead of a list to store unique values (no duplicates) and for faster lookup (in is O(1)).

6. What is a srtring in python and how is it different from a list ?
   - String in a python is a sequence of characters which is immutable. List is a sequence of elements which is mutable.

7. How do tuples ensure data integrity in Pyhton ?
   - Since tuples are immutable, the data cannot be changed accidentally thats how tuples ensure data intergrity in python.

8. What is a hash table, and how does it relate to dictionaries in python?
    - Hash table maps a key to an index using a hash function. Python dict is built on hash tables to relate to dictionaries in Python.

9. Can lists contain different data types in python ?
    - Yes, a list can hold int, str, float, etc. Example: [1, 'apple', 3.5].

10. Explain why strings are immutable in python ?
    - Strings are used very often so python is able to do many optimizations that wont be possible if strings were mutable Also Strings are immutable in python for security (safe sharing in memory), performance, and caching.

11. What advantages do dictionaries offer over lists for certain tasks ?

    - Dictionaries in python offers faster lookup by key and it is better for structured data.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Using a tuple is preferable when the data should not change .
     Ex- When storing fixed data like coordinates (x,y) or days of the week.
     Tuples are immutable they cannot be changed accidently, it is faster & uses less memory. It can be used as dictionary keys unlike lists , Hence tuples are ideal for fixed or constant data.

13. How do sets handle duplicates values in python?
    - In python a set is a collection of unique elements. This means sets automatically eliminate duplicates when storing data. If the same value is inserted multiple times, Python will keep only copy of it.
      -  Sets are useful when we need to store unique data only.
      - They can also be used for operations like union,intersection and differences.

14. How does the "in" keyword work differently for lists and dictionaries?
    - For Lists:-
         - The keyword checks if a given valueor element exists in the list.
           Eg- [1,2,3]
                2 in [1,2,3] = True.

    - For Dictionaries:-
       - The keyword checks if a given item exists as a key in the dictionary.
       Eg- {"name: "Sruti", "age": 23}
            "name" in dict = True
            "Sruti" in dict =False
        In short we can also summarise this with List checks values and Dictionary checks keys.

15. Can you modify the elements of tuple ? Explain why or why not?
    - No we cannot modify elements of a tuple.
      - Tuples are immutable in python it means once created , their elements cannot be changed, added or removed.
         - Reasons For Why:- Immutability ensures that tuples are fixed and relaibe, which makes them useful for storing constant data.This also allows tuples to be used as keys in dictionaries and as elements in sets because immutable objects are hashable.

        - Reasons for why not:- If a tuple contains a mutable object (like a list), the tuple itself cannot be changed but the list inside it can be modified

16. What is a nested dictionary and give an example of its use case ?
  - A nested dictionary is a inside another dictionary. It allows storing multiple levels of key value  pairs It is often used to represent complex data structures like JSON, records, or objects
     -  Use case-
           Storing student details- A nested dictionary can be used to store data of multiple students where each student has their own details.  
           - Eg-students = {
    "101": {
        "name": "Riya",
        "age": 20,
        "marks": {"math": 90, "science": 85}
    },
    "102": {
        "name": "Amit",
        "age": 21,
        "marks": {"math": 88, "science": 92}
    }
}

# Accessing Amit's science marks
print(students["102"]["marks"]["science"])   # 92

      
17. Describe the time complexity of accessing elements in a dictionary.
     - Average Case- Accesing elements in a dictionary is o(1) (constant time).
     The reason is Python dictionaries use hash tables. So the key is hashed and directly mapped to its value.
     - Worst Case- In rare cases like too many hasg collision, the time complexity can become O(n), where n is the number of elements in the dictionary.
     - But in practice ,pyhton handles collisions efficiently, so this happes very rarely.

18. What situations are lists preffered over dictionaries?
     -1. Ordered data:When you need to store elements in a specific order (e.g., a sequence of numbers, names, or items).
      2. Index-based access:When elements are accessed using positions (like list[0], list[1]) rather than unique keys.
      3. Duplicates allowed:When you want to allow duplicate values in the collection.
      4. Simple collection:When you only need to store values (not keyâ€“value pairs).
      Example:fruits = ["apple", "banana", "mango", "apple"]  
      print(fruits[1])   #banana

19. Why are dictionary considered unordered and how does that affect data retrieval ?
    - Dictionaries are considered "unordered" because, historically (before Python 3.7), they didn't store items in a specific sequence, meaning we couldn't rely on the order of elements for retrieval. This means we cannot access items by an index (like my_dict[0]) and must use their unique keys instead, which still allows for fast lookups but doesn't guarantee any specific iteration order
    
20. Explain the difference between a list and a dictionary in terms of data retrival?
     -  The fundamental difference between lists and dictionaries in terms of data retrieval lies in their underlying structure and how elements are identified.
         - Lists:
         - Ordered Collection: Lists maintain a specific order of elements, meaning the position of each element is fixed relative to the others.ndexed Retrieval: Data retrieval in lists is primarily done using integer indices, starting from 0 for the first element.
         
         - Dictionaries-
         - Unordered Key-Value Pairs: Dictionaries store data as key-value pairs, where each unique key is associated with a specific value. The order of these pairs is not guaranteed.Key-Based
         - Retrieval: Data retrieval in dictionaries is performed using the associated key, which can be of various immutable data types (e.g., strings, numbers, tuples).

 **Practical Answers**

In [ ]:
#1. Create a string with your name and print it
name = "Sruti"
print(name)

Sruti

In [ ]:
#2. Find the length of "Hello World"
print(len("Hello World"))

11

In [ ]:
#3. Slice first 3 characters from "Python Programming"
print("Python Programming"[:3])

Pyt

In [ ]:
#4. Convert "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
#5. Replace "apple" with "orange" in "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
#6. Create a list with numbers 1 to 5 and print it
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#7. Append 10 to list [1,2,3,4]
lst=[1,2,3,4]
lst.append(10)
print(lst)

In [ ]:
#8.  Remove 3 from list [1,2,3,4,5]
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

In [ ]:
#9. Access 2nd element in ["a","b","c","d"]
print(['a','b','c','d'][1])

In [ ]:
#10. Reverse [10,20,30,40,50]
lst=[10,20,30,40,50]
lst.reverse()
print(lst)

In [ ]:
#11. Create tuple (100,200,300)
t=(100,200,300)
print(t)

In [ ]:
#12. Access 2nd last element in ("red","green","blue","yellow")
colors=("red","green","blue","yellow")
print(colors[-2])

In [ ]:
#13. Find minimum in (10,20,5,15)
nums=(10,20,5,15)
print(min(nums))

In [ ]:
#14. Find index of "cat" in ("dog","cat","rabbit")
animals=("dog","cat","rabbit")
print(animals.index("cat"))

In [ ]:
#15. Check if "kiwi" in ("apple","banana","mango")
fruits=("apple","banana","mango")
print("kiwi" in fruits)

In [ ]:
#16. Create set {"a","b","c"}
s={"a","b","c"}
print(s)

In [ ]:
#17. Clear {1,2,3,4,5}
s={1,2,3,4,5}
s.clear()
print(s)

In [ ]:
#18. Remove 4 from {1,2,3,4}
s={1,2,3,4}
s.remove(4)
print(s)

In [ ]:
#19. Union of {1,2,3} & {3,4,5}
print({1,2,3} | {3,4,5})

In [11]:
#20. Intersection of {1,2,3} & {2,3,4}
print({1,2,3} & {2,3,4})

{2, 3}

In [12]:
#21. Create dict {"name":"John","age":25,"city":"NY"}]
d={"name":"John","age":25,"city":"NY"}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

In [10]:
#22. Add "country":"USA" to {"name":"John","age":25}
d={"name":"John","age":25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#23. Access "name" in {"name":"Alice","age":30}
d={"name":"Alice","age":30}
print(d["name"])

Alice

In [7]:
#24. Remove "age" from {"name":"Bob","age":22,"city":"NY"}
d={"name":"Bob","age":22,"city":"New York"}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [6]:
#25. Check if "city" in {"name":"Alice","city":"Paris"}
d={"name":"Alice","city":"Paris"}
print("city" in d)

True

In [5]:
#26. Create list, tuple, dict and print all
lst=[1,2,3]
tup=(4,5,6)
dct={"a":1,"b":2}
print(lst,tup,dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [4]:
#27. List of 5 random nums (1-100), sort ascending
import random
lst=random.sample(range(1,101),5)
lst.sort()
print(lst)

[4, 12, 44, 63, 75]

In [3]:
#28. Print element at index 3 in ["apple","banana","cherry","date"]
words=["apple","banana","cherry","date"]
print(words[3])

date

In [2]:
#29. Combine two dicts
d1={"a":1,"b":2}
d2={"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
#30. Convert list of strings to set
lst=["apple","banana","apple","cherry"]
print(set(lst))

{'banana', 'apple', 'cherry'}